.modal-me {
    position: absolute;
    z-index:10;
    background-color: RGBA(0, 0, 0, 0.6);
    width: 100vw;
    height: 100%;
    top:0;
}

.order-modal {
    background-color: white;
    width: 50vw;
    z-index: 7;
    margin:0 auto;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    hr {
        width: 60%;
        background-color: darkgray;
        margin-bottom: 5%;
        margin-top: 0;
    }
    .order-modal-restaurant-name {
        margin-top: 2%;
        font-size: 2.5em;
        margin-bottom: 2%;
    }
    .order-modal-items-table {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        * {
            display: flex;
            width:100%;
        }
        .order-modal-items-table-head {
            background-color: lightgray;
        }
        .order-modal-items-table-head, .order-modal-item {
            * {
                border:1px solid darkgray;
                display: flex;
                justify-content: center;
            }
            .price, .quantity {
                width: 60%;
            }
            .food-name {
                width: 100%;
                text-align: center;
            }
            .index {
                width: 30%;
            }
        }
    }
}