.food-modal-container {
    display: flex;
    flex-direction: column;
    direction: rtl;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    width: 40%;
    padding: 10px 20px;
    .food-modal-notification {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        &.success {
            color: green;
        }
        &.error {
            color: red;
        }
    }
    .food-modal-added-to-cart {
        width: 100%;
        text-align: center;
        color: green;
    }
    .food-modal-restaurant-name {
        text-align: right;
        width: 100%;
        font-size: 1.8em;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
    }
    .food-modal-image-info {
        display: flex;
        width: 100%;
        .food-modal-image {
            width: 120px;
            height: 120px;
            border-radius: 5px;
        }
        .food-modal-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-right: 15px;
            .food-modal-food-name-star {
                display: flex;
                width: 100%;
                margin-top: 12px;
                .food-modal-food-name {
                    font-size: 1.5em;
                    text-align: right;
                }
                .food-modal-star-popularity {
                    position: relative;
                    top: 7px;
                    font-size: 1.2em;
                    color: #ffbf66;
                    display: flex;
                    margin-right: 20px;
                    .food-modal-popularity {
                        color: black;
                        margin-right: 3px;
                        display: inline-block;
                    }
                }
            }
            .food-modal-food-description {
                margin-top: 10px;
                font-size: .9em;
                text-align: right;
            }
            .food-modal-prices {
                display: flex;
                margin-top: 10px;
                font-size: 1.3em;
                .food-modal-old-price {
                    margin-left: 20px;
                    text-decoration: line-through;
                    text-decoration-color: rgb(231, 91, 91);
                }
            }
        }
    }
    .food-modal-quantity-order {
        display: flex;
        margin-top: 20px;
        padding-top: 10px;
        align-items: center;
        justify-content: space-between;
        border-top: 1px dashed darkgray;
        &.ordinaryFood {
            justify-content: flex-end;
        }
        .food-modal-available-quantity {
            border-radius: 7px;
            background-color: #f3f7f3;
            padding: 8px 20px 1px 20px;
            color: #807e7e;
            height: 40px;
            border: solid 0.5px #807e7e;
            &.zero-quantity {
                color: red;
            }
        }
        .food-modal-order {
            display: flex;
            .food-modal-order-quantity {
                font-size: 1.8em;
                justify-content: space-between;
                display: flex;
                padding-top: 5px;
                .food-modal-order-quantity-num {
                    margin: 0 10px;
                }
                .plus-logo::before,
                .minus-logo::before {
                    font-size: 0.7em;
                }
            }
            .btn {
                margin-right: 15px;
            }
        }
    }
}